@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    BODY
----------------------------------------------------- */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(homepageImages/InizioSito_50.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    BOX
----------------------------------------------------- */
.box {
    margin-bottom: 20px;
    margin-top: 170px;
    margin-right: 70px;
    margin-left: 330px;
    padding-top: 50px;
    padding-bottom:50px;
    padding-left: 50px;
    padding-right:50px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

#box.active{
    transition: all 0.3s ease-in-out;
    margin-left: 150px;
}

/*data*/
.data{
    text-align: right;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    font-family: "Brush Script MT";
    font-size: 36px;
    color: #308E89;
}

/* ---------------------------------------------------
    post, profilo, lista genitori
----------------------------------------------------- */
.post
 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.post img {
    margin-left: 60px;
    width: 70px;
    height: 70px;
    /*display: block;*/
}

.post a {
    height: 95px;
    padding: 20px 15px;
    font-size: 24px;
}

.post p, .profilo p {
    margin-left: 50px;
    margin-right: 50px;

}

.post h6, .post h4{
    height: 60px;
    padding-left: 15px;
    margin-top: 8px;
    color: #999;
}

.post button{ /*Bottone CONTATTA nella lista genitori */
    margin-right: 50px;
    width: 150px;
    background-color: #308E89;
    color: white;
}

/*Immgaine profilo */

.profilo{
    padding-top: 30px;
    padding-bottom:30px;
    position: relative;
}
.img-profilo {
    margin-left: 250px;
    width: 200px;
    height: 200px;

}

/*informazioni personali nel profilo */
.profilo li{
    height: 30px;
    padding-left: 40px;
    margin-top: 10px;
    font-size: 18px;
    color: #343434;
}

/*informazioni personali nel profilo */

/*Nome e cognome */
.profilo h2{
    height: 40px;
    font-size: 25px;
    padding-left: 40px;
}

/*margine tra immagine (puzzle) e scritte (città, nome e figlio)*/
.infoPersonali li img {
    margin-right: 10px;
    height: 22px;
    width: 22px;
}

/*linea divisoria */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

/* ---------------------------------------------------
    Navigation bar
----------------------------------------------------- */

#navigationbar {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    margin-top:40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left:300px;
}

#sidebarCollapse {
    box-shadow: none;
    outline: none !important;
    border: none;
    background-color: #308e89 ;
}

#navigationbar.active{
    margin-left: 100px;
    transition: all 0.3s;
}

.navbar .button {
    color: #308e89 ;
}


/* ---------------------------------------------------
    SIDEBAR
----------------------------------------------------- */


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #308e89;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    float: right;
    height:100vh;

}


/*SIDEBAR PICCOLO ATTIVATO */
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    /*text-align: center; si sminchia quando si chiude, mi piacerebbe allinearlo centralmente ma non ci sono riuscita*/
}


#sidebar.active .sidebar-header h3 {
    display: none;
}


/*nel menu' rimpicciolito mantengo anche il menu' di sopra */
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar.active ul li a {
    padding: 20px 10px;
}

#sidebar.active ul li a {
    font-size: 0.85em;
}
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}


/*menu piccolo attivo, traslazione icone + testi */
#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #308e89;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #308e89;

}

/*testi */
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;

}
/*testi con mouse */
#sidebar ul li a:hover {
    color: #308e89;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2a75b4;
}

/*insegnanti/genitori */
a[data-toggle="collapse"] {
    position: relative;
}


/*dico che i bottoni devono contenere la freccia in basso quando sono chiusi, e do' impostazioni sia a bottoni chiusi, sia a bottoni aperti  */
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259'; /*freccia in basso */
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

/*freccia in basso (modifico solo un parametro rispetto al codice precedente) */
a[aria-expanded="true"]::before {
    content: '\e260';
}


/*menu' a tendina*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #308e89;
}







/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3 {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}