<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUZZLE - Fuori Diario</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css">

    <!-- Css -->
    <link rel="stylesheet" href="app.css">

    <!-- Angular -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="lib/angular/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

    <!--Bootstrap -->
    <script src="lib/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!-- IMPORTAZIONE APP.JS -->
    <script src="app.js"></script>                                              <!-- modulo principale -->

    <!-- IMPORTAZIONE .JS VISTE -->
    <script src="loginView/loginView.js"></script>                              <!-- loginView -->
    <script src="authenticationView/authenticationView.js"></script>            <!-- authView -->
    <script src="HomepageView/homepageView.js"></script>                        <!-- authView -->
    <script src="ProfiloView/profiloView.js"></script>                          <!-- profiloView -->
    <script src="addPostView/addPostView.js"></script>                          <!-- addPostView -->
    <script src="listaGenitoriView/listagenitoriView.js"></script>              <!--  -->
    <script src="listaInsegnantiView/listaInsegnantiView.js"></script>              <!--  -->
    <script src="profiloExtView/profiloExtView.js"></script>                    <!--  -->
    <script src="eventView/eventView.js"></script>                              <!--  -->
    <script src="spazioGenitori/spazioGenitoriView.js"></script>

    <!-- IMPORTAZIONE .JS COMPONENTI -->
    <script src="components/authentication/authentication.js"></script>         <!-- autenticazione -->
    <script src="components/authentication/authentication-service.js"></script> <!-- auth-servizio  -->
    <script src="components/utenti/utenti.js"></script>                         <!-- utenti -->
    <script src="components/utenti/utenti-service.js"></script>                 <!-- utenti-service -->
    <script src="components/utenti/utenti-CommonProp.js"></script>              <!--  -->
    <script src="components/utenti/utenti-profiloEsterno.js"></script>          <!--  -->
    <script src="components/post/post.js"></script>                             <!--  -->
    <script src="components/post/postList.js"></script>                         <!--  -->
    <script src="components/eventi/eventi.js"></script>                         <!--  -->
    <script src="components/eventi/eventi-service.js"></script>                 <!--  -->
    <script src="components/eventi/eventiDirettiva.js"></script>                <!--  -->
    <script src="components/storage/storage.js"></script>                       <!--  -->
    <script src="components/storage/storage-service.js"></script>               <!--  -->
    <script src="components/storage/storage-upload.js"></script>                <!--  -->
    <script src="components/sidebar/sidebar-direttiva.js"></script>                <!--  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- CALENDARIO -->
    <!-- --------------------------------------------------------- -->
    <!-- NB: utilizzo LESS CSS, Plugin di ottimizzazione CSS -->
    <!-- Bisogna caricare prima il foglio di stile e poi il plugin -->
    <!-- --------------------------------------------------------- -->
    <link rel="stylesheet/less" type="text/css" href="eventView/eventView.less" />
    <script src="lib/less/less.js" type="text/javascript"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />

    <!-- MOMENT -->
    <script type="text/javascript" src="lib/moment/moment.min.js"></script>

</head>


<body ng-app="puzzle" ng-controller="indexCtrl">

<!-- con ng-view gli dico dove deve caricare le differenti viste! -->
<div class="container-fluid" ng-view></div>

<!-- NAVIGATION BAR  -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top" id="navigationbar"
         ng-if="!(pagina.pagCorrente === 'authView' || pagina.pagCorrente === 'loginView')">
        <div class="navbar-header">
            <!-- PULSANTE -->
            <button type="button" class="btn btn-info navbar-btn" ng-show="false">
                <!-- IMAGE PULSANTE -->
                <i class="glyphicon glyphicon-align-left"></i>
                <!-- TITOLO PULSANTE -->
                <span>PUZZLE</span>
            </button>
            <!-- FINE PULSANTE -->
        </div>
        <!-- LINK RAPIDI HEADER -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/homepageView">Diario di classe</a></li>
                <li><a href="#!/profiloView">Profilo</a></li>
                <!-- <li><a href="#!/homepageView">Posta</a></li> -->
                <li><a href="#!/loginView" ng-click="logoutUser()">Logout</a></li>
                <!-- <li><a href="#!/loginView" ng-click="logOut()">Esci</a></li> -->
            </ul>
        </div>
        <!-- FINE LINK RAPIDI HEADER -->
    </nav>
</header>

<div ng-if="controlloSidebar()">
<!-- SIDEBAR  -->

</div>

<!-- MENU TEST -->
<!-- Da abilitare soltanto durante le prove -->

<!--
    <ul class="menu">
        <li><a href="#!/loginView">view1</a></li>
        <li><a href="#!/authView">view2</a></li>
        <li><a href="#!/homepageView">view3</a></li>
    </ul>
-->

<!-- FINE MENU TEST -->


</body>
</html>