<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUZZLE - Fuori Diario</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css">

    <!-- css -->
    <link rel="stylesheet" href="app.css">

    <!-- JAVASCRIPT -->
    <!-- angular -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--bootstrap -->
    <script src="lib/bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <!-- IMPORTAZIONE APP.JS -->
    <script src="app.js"></script>                                              <!-- modulo principale -->

    <!-- IMPORTAZIONE VISTE -->
    <script src="loginView/loginView.js"></script>                              <!-- loginView -->
    <script src="authenticationView/authenticationView.js"></script>            <!-- authView -->
    <script src="homepageView/homepageView.js"></script>                        <!-- authView -->
    <script src="ProfiloView/profiloView.js"></script>                          <!-- profiloView -->
    <script src="addPostView/addPostView.js"></script>                          <!-- addPostView -->
    <script src="listaGenitoriView/listaGenitoriView.js"></script>                          <!-- addPostView -->

    <!-- IMPORTAZIONE COMPONENTI -->
    <script src="components/authentication/authentication.js"></script>         <!-- autenticazione -->
    <script src="components/authentication/authentication-service.js"></script> <!-- auth-servizio  -->
    <script src="components/utenti/utenti.js"></script>                         <!-- utenti -->
    <script src="components/utenti/utenti-service.js"></script>                 <!-- utenti-service -->
    <script src="components/utenti/utenti-CommonProp.js"></script>              <!--  -->
    <script src="components/post/post.js"></script>                             <!--  -->
    <script src="components/post/postList.js"></script>                              <!--  -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</head>


<body ng-app="puzzle" ng-controller="indexCtrl">

<!-- con ng-view gli dico dove deve caricare le differenti viste! -->
<div class="container-fluid" ng-view></div>

<!-- NAVIGATION BAR  -->
<header>
    <nav class="navbar navbar-default navbar-fixed-top" id="navigationbar"
         ng-hide="pagina.pagCorrente === 'authView' || pagina.pagCorrente === 'loginView'">
        <div class="navbar-header">
            <!-- PULSANTE -->
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" ng-show="false">
                <!-- IMAGE PULSANTE -->
                <i class="glyphicon glyphicon-align-left"></i>
                <!-- TITOLO PULSANTE -->
                <span>PUZZLE</span>
            </button>
            <!-- FINE PULSANTE -->
        </div>
        <!-- LINK RAPIDI HEADER -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#!/homepageView">Diario di classe</a></li>
                <li><a href="#!/profiloView">Profilo</a></li>
                <li><a href="#!/homepageView">Posta</a></li>
                <li><a href="#!/loginView" ng-click="logoutUser()">Logout</a></li>
                <!-- <li><a href="#!/loginView" ng-click="logOut()">Esci</a></li> -->
            </ul>
        </div>
        <!-- FINE LINK RAPIDI HEADER -->
    </nav>
</header>

<!-- SIDEBAR  -->
<nav class="navbar navbar-fixed-top" id="sidebar" ng-hide="pagina.pagCorrente === 'authView' || pagina.pagCorrente === 'loginView'">
    <!-- INTESTAZIONE SIDEBAR  -->
    <div class="sidebar-header">

        <img src="../Puzzle-code/images/logo/PuzzleLogo_per_sfondo_scuro.png" width="150" class="img-responsive"/>  <!-- height="22" width="24" -->
        <!-- <strong>PLZ</strong> -->     <!-- se vogliamo l'animazione della sidebar -->

    </div>

    <!-- INIZIO MENU  -->
    <ul class="list-unstyled components">
        <!-- TITOLO ELENCO INSEGNANTI  -->
        <li>
            <a ng-click="showMenuIns()">
                <i ><img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-352-book-open.png" height="22" width="24"/></i>
                Insegnanti
            </a>
            <!-- ELENCO INSEGNANTI  -->
            <ul ng-show="menuIns">
                <li><a>Liliana Scaffidi</a></li>
                <li><a>Pamela Siclari</a></li>
                <li><a>Antonella Corigliano</a></li>
                <li><a>Elisa Musolino</a></li>
                <li><a>Genoffa Anastasia</a></li>
            </ul>
        </li>
        <!-- TITOLO ELENCO GENITORI  -->
        <li>
            <a ng-click="showMenuGen()">
                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-500-family.png" height="22" width="35"/>
                </i>
                Genitori
            </a>
            <!-- ELENCO GENITORI  -->
            <ul ng-show="menuGen">
                <li><a href="#!/listaGenitoriView">Contatta un genitore</a></li>
                <li><a>Accedi all'area comune</a></li>
            </ul>
        </li>
        <!-- LINK EVENTI  -->
        <li>
            <a>
                <i ><img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/></i>
                Eventi
            </a>
        </li>
        <!-- LINK SPAZIO SCUOLA  -->
        <li>
            <a>
                <i ><img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-712-government.png" height="25" width="26"/></i>
                Spazio Scuola
            </a>
        </li>
    </ul>
</nav>


<!-- MENU TEST -->
<!-- Da abilitare soltanto durante le prove -->

<!--
    <ul class="menu">
        <li><a href="#!/loginView">view1</a></li>
        <li><a href="#!/authView">view2</a></li>
        <li><a href="#!/homepageView">view3</a></li>
    </ul>
-->

<!-- FINE MENU TEST -->



</body>
</html>