
<head>

    <title>PUZZLE - Elenco Genitori</title>

    <link rel="stylesheet" href="HomepageView/homepageView.css">

</head>

<body>

    <!-- Box  -->
    <div class="container-fluid">
        <div class="row">
            <div class="box">


                    <!-- ------------------------------------------------- -->
                    <p ng-if="utenteRegistrato.user.ruolo === 'GENITORE' && flag">
                        Non ci sono genitori iscritti nella {{utenteRegistrato.user.figlio1.classeFiglio}}°{{utenteRegistrato.user.figlio1.sezioneFiglio}}
                        della scuola "{{utenteRegistrato.user.figlio1.scuolaFiglio}}" di {{utenteRegistrato.user.citta}}
                    </p>
                    <p ng-if="utenteRegistrato.user.ruolo === 'INSEGNANTE' && flag">
                        Non ci sono genitori iscritti nella {{utenteRegistrato.user.classe}}°{{utenteRegistrato.user.sezione}}
                        della scuola "{{utenteRegistrato.user.scuola}}" di {{utenteRegistrato.user.citta}}
                    </p>
                    <!-- ------------------------------------------------- -->

                    <div class="post" ng-repeat="genitore in tuttiGliUtenti.elencoUtenti | filter: {'ruolo' : 'GENITORE' } : true"
                         ng-if="controllo(genitore)">
                        <div class="media listagenitori">
                            <!-- AVATAR -->
                            <div class="media-left">

                                <img src="../Puzzle-code/images/avatars/AvatarGenitore.png" class="media-object img-thumbnail img-profilo"
                                     alt="GENITORE DONNA" ng-if="genitore.sesso === 'F' && genitore.urlFoto === 'no'">
                                <img src="../Puzzle-code/images/avatars/AvatarGenitore_uomo.png" class="media-object img-thumbnail img-profilo"
                                     alt="GENITORE UOMO" ng-if="genitore.sesso === 'M' && genitore.urlFoto === 'no'">

                                <img src="{{genitore.urlFoto}}" class="media-object img-thumbnail img-profilo"
                                     alt="GENITORE" ng-if="genitore.urlFoto != 'no'">

                            </div>
                            <!-- FINE AVATAR -->
                            <!-- DATI UTENTE -->
                            <div class="media-body">

                                <!-- CONTROLLO LINK SE E' UGUALE A UTENTE LOGGATO -->

                                <a href="#!/profiloView" ng-if="genitore.$id === utenteRegistrato.uid">
                                    {{genitore.nome}} {{genitore.cognome}}
                                </a>
                                <!-- -------------------------------------------- -->
                                <a href="#!/profiloExtView" ng-click="set(genitore.$id)" ng-if="genitore.$id != utenteRegistrato.uid">
                                    {{genitore.nome}} {{genitore.cognome}}</a>
                                <!-- FINE CONTROLLO-->
                                <h4> Genitore di {{genitore.figlio1.nomeFiglio}} {{genitore.figlio1.cognomeFiglio}} </h4>


                            </div>
                                <!-- FINE DATI UTENTE -->
                                <!-- CONTATTA -->
                            <div class="media-left">
                                <button class="btn" ng-click="contattaUtente(genitore.$id)" data-toggle="modal" data-target="#contatta">
                                    <i class="glyphicon glyphicon-envelope"></i> &nbsp; Contatta </button>
                                <!-- &nbsp; lascia uno spazio, così non ho bisogno di definirglielo nel css -->
                            </div>
                            <!-- FINE CONTATTA -->
                            <!-- LINEA DI SEPARAZIONE -->
                            <div class="line">
                            </div>
                        </div>
                    </div>

                    <!-- ---x---------------------------------------------- -->
                </div>
    </div>
    </div>



    <!-- MODAL: CONTATTA -->
        <div class="modal fade" id="contatta" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content messaggi">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Contatta</h4>
                    </div>
                    <div class="form-group">
                        <br>
                        <label><b>&nbsp; &nbsp; &nbsp;A:</b>  {{contUtente.nome}} {{contUtente.cognome}}</label>
                        <br>
                        <form role="form" name="postForm" novalidate="">
                        <textarea  class="form-control" placeholder="Scrivi qui il tuo messaggio" required="">
                        </textarea>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Invia</button>
                        <button type="button" class="btn" data-dismiss="modal">Annulla</button>
                    </div>
                </div>

            </div>
        </div>

    <sidebar user="utenteRegistrato.user.ruolo"></sidebar>

</body>