<head>

    <title>Puzzle Social Network</title>

    <link rel="stylesheet" href="HomepageView/homepageView.css">

</head>

<body>

<!-- NB: Devo ottimizzare il sistema NG-IF con una funzione già realizzata 1 volta -->
<!--     anzichè richiamarla N volte, in modo tale da ottimizzare il sistema       -->
<!--                                                               [ Peppe ]       -->

<!-- BOX -->


<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12" >
            <div class="box" id="box">

                <!-- ---------------------------------------------------------------------------------------------------- -->

                <!-- PROFILO  -->
                <div class="profilo" >
                    <div class="row">
                        <div class="media">

                            <!-- ---------------------------------------------------------------------------------------------------- -->

                            <!-- IMMAGINE DEL PROFILO -->
                            <div class="media-left">
                                <img src="../Puzzle-code/authenticationView/AvatarGenitore.png" class="media-object img-thumbnail img-profilo"
                                     alt="GENITORE" ng-if="utenteRegistrato.user.ruolo === 'GENITORE'">
                                <img src="../Puzzle-code/authenticationView/AvatarInsegnante.png" class="media-object img-thumbnail img-profilo"
                                     alt="INSEGNANTE" ng-if="utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                            </div>
                            <!-- FINE IMMAGINE DEL PROFILO -->

                            <!-- ---------------------------------------------------------------------------------------------------- -->

                            <!-- DATI PROFILO -->
                            <div class="media-body">
                                <!-- NOME E COGNOME UTENTE -->
                                <h2>{{utenteRegistrato.user.nome}} {{utenteRegistrato.user.cognome}}</h2>
                                <!-- FINE NOME E COGNOME    -->


                                <!-- EMAIL UTENTE -->
                                <ul class="list-unstyled infoPersonali">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Email: {{utenteRegistrato.user.email}}
                                    </li>
                                </ul>
                                <!-- FINE CITTA UTENTE -->
                                <!-- CITTA UTENTE -->
                                <ul class="list-unstyled infoPersonali">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Città: {{utenteRegistrato.user.citta}}
                                    </li>
                                </ul>
                                <!-- FINE CITTA UTENTE -->
                                <!-- --------------------------------------------------------------------------------------------------- -->
                                <!-- ----------------- -->         <!-- PER PAMELA E LILIANA -->
                                <!-- RUOLO == GENITORE -->         <!-- NomeFiglio = nome attributo visualizzato -->
                                <!-- ----------------- -->         <!-- {{...}} = funzione AngularJS per visualizzare attributo database -->
                                <!-- --------------------------------------------------------------------------------------------------- -->

                                <!-- DATI ANAGRAFICI FIGLIO -->
                                <!-- NOME FIGLIO -->
                                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                                    <ul class="list-unstyled infoPersonali">
                                        <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                            NomeFiglio: {{utenteRegistrato.user.figlio1.nomeFiglio}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- FINE NOME -->
                                <!-- COGNOME FIGLIO -->
                                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                                    <ul class="list-unstyled infoPersonali">
                                        <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                            CognomeFiglio: {{utenteRegistrato.user.figlio1.cognomeFiglio}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- FINE COGNOME -->
                                <!-- FINE DATI ANAGRAFICI FIGLIO -->

                                <!-- DATI SCOLASTICI FIGLIO -->
                                <!-- SCUOLA -->
                                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                                    <ul class="list-unstyled infoPersonali"">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        ScuolaFiglio: {{utenteRegistrato.user.figlio1.scuolaFiglio}}
                                    </li>
                                    </ul>
                                </div>
                                <!-- FINE SCUOLA -->
                                <!-- CLASSE -->
                                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                                    <ul class="list-unstyled infoPersonali">
                                        <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                            Classe: {{utenteRegistrato.user.figlio1.classeFiglio}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- FINE SEZIONE -->
                                <!-- SEZIONE -->
                                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                                    <ul class="list-unstyled infoPersonali">
                                        <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                            Sezione: {{utenteRegistrato.user.figlio1.sezioneFiglio}}
                                        </li>
                                    </ul>
                                </div>
                                <!-- FINE SEZIONE -->

                                <!-- ---------------------------------------------------------------------------------------------------- -->
                                <!-- ------------------- -->
                                <!-- RUOLO == INSEGNANTE -->
                                <!-- ------------------- -->
                                <!-- ---------------------------------------------------------------------------------------------------- -->


                                <!-- DATI SCOLASTICI -->
                                <!-- SCUOLA -->
                                <ul class="list-unstyled infoPersonali" ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Scuola: {{utenteRegistrato.user.scuola}}
                                    </li>
                                </ul>
                                <!-- FINE SCUOLA -->
                                <!-- CLASSE -->
                                <ul class="list-unstyled infoPersonali" ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Classe: {{utenteRegistrato.user.classe}}
                                    </li>
                                </ul>
                                <!-- FINE SEZIONE -->
                                <!-- SEZIONE -->
                                <ul class="list-unstyled infoPersonali" ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Sezione: {{utenteRegistrato.user.sezione}}
                                    </li>
                                </ul>
                                <!-- FINE SEZIONE -->
                                <!-- MATERIA -->
                                <ul class="list-unstyled infoPersonali" ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                                    <li>  <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="25" width="25"/> </i>
                                        Materia: {{utenteRegistrato.user.materia}}
                                    </li>
                                </ul>
                                <!-- FINE MATERIA -->
                            </div>
                            <!-- FINE DATI PROFILO -->

                            <!-- ---------------------------------------------------------------------------------------------------- -->

                        </div>
                    </div>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->

                <!-- ------------------------------------------ -->
                <!-- SEZIONE MATERIALE DIDATTICO | INSEGNANTE | -->
                <!-- ------------------------------------------ -->

                <div ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                    <p> QUESTO SPAZIO E' PER IL MATERIALE DIDATTICO INSEGNANTE </p>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->

                <!-- --------------------------------- -->
                <!-- SEZIONE CALENDARIO | INSEGNANTE | -->
                <!-- --------------------------------- -->

                <div ng-if = "utenteRegistrato.user.ruolo === 'INSEGNANTE'">
                    <p> QUESTO SPAZIO E' PER IL CALENDARIO INSEGNANTE</p>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->


                <!-- ------------------------------- -->
                <!-- SEZIONE CALENDARIO | GENITORE | -->
                <!-- ------------------------------- -->

                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                    <p> QUESTO SPAZIO E' PER IL CALENDARIO GENITORE</p>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->

                <!-- ---------------------------- -->
                <!-- SPAZIO GENITORI | GENITORE | -->
                <!-- ---------------------------- -->

                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                    <button> SPAZIO GENITORI </button>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->

                <!-- -------------------------------- -->
                <!-- CONTATTA UN ESPERTO | GENITORE | -->
                <!-- -------------------------------- -->

                <br>
                <div ng-if = "utenteRegistrato.user.ruolo === 'GENITORE'">
                    <button> CONTATTA UN ESPERTO </button>
                </div>

                <!-- ---------------------------------------------------------------------------------------------------- -->

            </div>
        </div>
    </div>
</div>

</body>
