<head>

    <title>Puzzle Social Network - Scrivi Post</title>
    <link rel="stylesheet" href="HomepageView/homepageView.css">

</head>

<body>
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12" >
            <div class="box" id="box">

                <form role="form" name="postForm" novalidate="" ng-submit="createPost()">

                    <div class="form-group">
                                    <textarea name="postTxt" class="form-control" placeholder="Scrivi qui la tua giornata"
                                              ng-model="postTxt" ng-minlength="20" required="">
                                    </textarea>
                    </div>


                </form>

                <div>
                    <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid" ng-click="createPost()">Aggiungi Post</button>
                    <button type="button" class="btn btn-secondary" href="#!/homepageView">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
