/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;

}

body {
	font-family: montserrat, arial, verdana;
	background: url(../images/sfondo/InizioSito_90.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
}


/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	padding-top: 20px;
}
#msform div {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	/*stacking fieldsets above each other*/
	position: relative;
}


/*inputs*/
#msform input {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #343434;
	font-size: 13px;


}
#msform input:focus {
	-moz-box-shadow: 0 0 2px rgb(48,142,137) inset;
	-o-box-shadow: 0 0 2px rgb(48,142,137) inset;
	box-shadow: 0 0 2px rgb(48,142,137) inset;
	background-color: #fffcfe;
	border: 1px solid rgb(48,142,137);
	outline: none;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: rgb(48,142,137);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

#msform .action-button:disabled {
	background: rgb(178, 180, 179);
}




#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px rgb(48,142,137);
	-moz-box-shadow: 0 0 2px rgb(48,142,137) inset;
	-ms-box-shadow: 0 0 2px rgb(48,142,137) inset;
	-o-box-shadow: 0 0 2px rgb(48,142,137) inset;
	box-shadow: 0 0 2px rgb(48,142,137) inset;
	background-color: rgb(48,142,137);
	border: 1px solid rgb(48,142,137);
	outline: none;

}

#tendine, #tendine1, #tendine2, #tendine3, #tendine4{
	margin-bottom: 10px;
	font-family: montserrat;
	font-size: 13px;

}


#tendine:hover, #tendine:focus,
#tendine1:hover, #tendine1:focus,
#tendine2:hover, #tendine2:focus,
#tendine3:hover, #tendine3:focus,
#tendine4:hover, #tendine4:focus{
	box-shadow: 0 0 0 2px rgb(48,142,137);
	-moz-box-shadow: 0 0 2px rgb(48,142,137) inset;
	-ms-box-shadow: 0 0 2px rgb(48,142,137) inset;
	-o-box-shadow: 0 0 2px rgb(48,142,137) inset;
	box-shadow: 0 0 2px rgb(48,142,137) inset;
	border: 1px solid rgb(48,142,137);
	outline: none;

}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #343434;
	margin-bottom: 10px;
}


/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li { /*testo al di sotto della progress bar */
	list-style-type: none;
	color: rgb(48,142,137);
	text-transform: uppercase;
	font-size: 9px;
	width: 25%; /*prima era 33.33, dopo aver aggiunto il quarto campo l'ho dovuta cambiare*/
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*per metterlo dietro i numeri*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: rgb(48,142,137);
	color: white;
}


#payoff{
	padding-top: 10px;
	padding-bottom: 20px;
}

#registrato{
	font-size: 12px;
}

#msform a{
	color:rgb(48,142,137);
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
 }

/*--------------------------------
     Radio Buttons Utenti
--------------------------------*/

#genitore, #insegnante {
	display:none;
}

.genitore{background-image:url(../images/avatars/AvatarGenitore.png);}
.insegnante{background-image:url(../images/avatars/AvatarInsegnante.png);}

#insegnante:active +.simboloUtente{opacity: .9;}  /*simbolo opaco finchè non viene selezionato*/
#genitore:checked +.simboloUtente{ /*il simbolo si accende quando viene selezionato*/
	/*-webkit-filter: none;
	-moz-filter: none;*/
	filter: none;
}

#insegnante:checked +.simboloUtente{ /*il simbolo si accende quando viene selezionato*/
	/*-webkit-filter: none;
	-moz-filter: none;*/
	filter: none;
}
.simboloUtente{
	cursor:pointer;             /*manina*/
	background-size:contain;
	background-repeat:no-repeat;
	/*display:inline-block;*/
	width:70px; height:70px;
	-webkit-transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
	-webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
	-moz-filter: brightness(1.8) grayscale(1) opacity(.7);
	filter: brightness(1.8) grayscale(1) opacity(.7);
}
.simboloUtente:hover{
	-webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
	-moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
	filter: brightness(1.2) grayscale(.5) opacity(.9);
}



/* UOMO E DONNA*/
