<head>
    <meta charset="UTF-8">
    <title>Puzzle - login </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <!--css-->
    <link rel="stylesheet" href="../Puzzle-code/AuthenticationView/authenticationView.css">

</head>

<body ng-app="LoginCtrl">


<!-- MESSAGGIO DI ERRORE -->
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="error">
    Login failed! {{ error.message }}
</div>
<!-- FINE MESSAGGIO DI ERRORE -->

<form id="msform" role="form" ng-submit="signIn()">

    <!-- fieldsets -->

    <!-- fieldsets 0 -->
    <img src="../Puzzle-code/images/logo/banner2.png" height="130" width="325" id="imPuzzle_login"/>
    <h2 id="payoff">Entra nella classe di tuo figlio! <br> Parla con gli insegnanti e interagisci con gli altri
        genitori: chiedi consigli o aiuti e organizza con loro nuove attività! </h2>

    <fieldset>
        <br>
        <input type="text" name="email_login" placeholder="Inserisci Email" required="" autofocus="" ng-model="user.email"/>
        <input type="password" name="password_login" placeholder="Inserisci password" required="" ng-model="user.password"/>
        <br>
        <input type="submit" name="next" class="next action-button" value="LogIn"/>
        <br>
        <br>
        <h2 id="registrato" align="left"> Non sei ancora registrato?
            <span id="registrati">
                <a href="#!authView">Registrati</a>
            </span>
        </h2 >

    </fieldset>

</form>

<!-- <div class="container-fluid">
    <div class="row" align="center" >
        <div class="col-md-12">
            <img src="../images/logo/banner2.png" height="130" width="325" id="immaginePuzzle"/>
            <div class="pay-off"> <br> Entra nella classe di tuo figlio! <br> Parla con gli insegnanti e interagisci con gli altri
                genitori: <br> chiedi consigli o aiuti e organizza con loro nuove attività!</div>
        </div>
    </div>
</div>



    <div class="container">
        <div class="login">
        <form>
            <input type="text" class="name" placeholder="Email" required="">
            <input type="password" class="password" placeholder="Password" required="">
            <input type="button" name="previous" class="action-button" value="Log in" />
        </form>
        </div>
    </div> -->

</body>
