<head>

    <title>Puzzle Social Network</title>


    <link rel="stylesheet" href="HomepageView/homepageView.css">
    <!-- Angular Material style sheet  -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>

    <style>
        .md-datepicker-calendar-pane{
            z-index: 1200}
    </style>

    <style type="text/css">
        form.tab-form-demo .tab-pane {
            margin: 20px 20px;
        }
    </style>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="box">

            <div class="row">
                <div class="dataEvento">{{day.format('DD/MM/YYYY')}}</div>
            </div>

            <div class="lineEventi"> </div>

            <div class="row">

            <!-- CALENDARIO -->
                <div class="col-md-6 ">
                    <calendar selected="day" t="sezione"> </calendar>
                </div>

                <!-- LISTA EVENTI -->
                <div class="col-md-6 tabset">

                    <uib-tabset active="activeJustified" justified="true">
                        <!-- TAB CASA -->
                        <uib-tab index="0" heading="CASA" ng-click="selezioneTab('CASA')">
                            <!-- LOOP EVENTI IN PROGRAMMA --->
                            <div class="row">
                                <ul class="listaEventi" ng-if="evento.tipo === 'CASA'" ng-repeat="evento in tuttiGliEventi.elencoEventi | filter: {'giorno' : day.format('DD/MM/YYYY')} : true">
                                    <li>
                                        <div class="col-lg-8">
                                            &thinsp; <b>{{evento.oraI}}</b> - {{evento.titolo}} | {{evento.tipo}} |
                                        </div>
                                        <div class="col-lg-4">
                                        <a ng-click="viewEvento(evento.$id)" data-toggle="modal" data-target="#visualizzaEvento">
                                            <button class="visualizzaEvento">Visualizza</button>
                                        </a>
                                        </div>
                                        <div class="lineEventiInterna"></div>
                                    </li>
                                </ul>
                            </div>

                            <!-- FINE LOOP --->

                        </uib-tab>

                        <!-- TAB SCUOLA -->
                        <uib-tab index="1" heading="SCUOLA" ng-click="selezioneTab('SCUOLA')">
                            <!-- LOOP EVENTI IN PROGRAMMA --->
                            <div class="row">
                                <ul class="listaEventi" ng-if="evento.tipo === 'SCUOLA'" ng-repeat="evento in tuttiGliEventi.elencoEventi | filter: {'giorno' : day.format('DD/MM/YYYY')} : true">
                                    <li>
                                        <div class="col-lg-8">
                                            &thinsp; <b>{{evento.oraI}}</b> - {{evento.titolo}} | {{evento.tipo}} |
                                        </div>
                                        <div class="col-lg-4">
                                            <a ng-click="viewEvento(evento.$id)" data-toggle="modal" data-target="#visualizzaEvento">
                                                <button class="visualizzaEvento"> Visualizza </button>
                                            </a>
                                        </div>
                                        <div class="lineEventiInterna"></div>
                                    </li>
                                </ul>
                            </div>
                            <!-- FINE LOOP --->
                        </uib-tab>

                        <!-- TAB EXTRA -->
                        <uib-tab index="2" heading="EXTRA" ng-click="selezioneTab('EXTRA')">
                            <!-- LOOP EVENTI IN PROGRAMMA --->
                        <div class="row">
                            <ul class="listaEventi" ng-if="evento.tipo === 'EXTRA'" ng-repeat="evento in tuttiGliEventi.elencoEventi | filter: {'giorno' : day.format('DD/MM/YYYY')} : true">

                                <li>
                                    <div class="col-lg-8">
                                        <b>{{evento.oraI}}</b> - {{evento.titolo}} | {{evento.tipo}} |
                                    </div>
                                    <div class="col-lg-4">
                                        <a ng-click="viewEvento(evento.$id)" data-toggle="modal" data-target="#visualizzaEvento">
                                        <button class="visualizzaEvento">Visualizza</button> </a>
                                    </div>
                                    <div class="lineEventiInterna"></div>
                                </li>
                            </ul>
                        </div>
                            <!-- FINE LOOP --->
                        </uib-tab>

                    </uib-tabset>

                </div>
            </div>

            <div class="lineEventi"> </div>

            <div class="row creaEvento" >
                <!-- PULSANTE CREAZIONE NUOVO EVENTO -->
                <button  class="btn" type="button" data-toggle="modal" data-target="#creaEvento">
                    Crea Nuovo Evento
                </button>
            </div>
        </div>
    </div>
</div>

    <!-- MODAL: CREA NUOVO EVENTO -->
    <div class="modal fade" id="creaEvento" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Inserisci un nuovo evento</h4>
                </div>
                <div class="modal-body">

                    <form role="form" name="eventForm" novalidate="" ng-submit="">

                        <!-- RADIO BUTTON SCELTA TIPO EVENTO -->
                        <div class ="row">
                            <div class = "col-lg-4">
                                <input id="casa" type="radio" name="tipo" value="CASA" ng-model="event.tipo"/>
                                <label class="simboloEvento casa img-thumbnail center-block" for="casa"></label>
                                <div class="row text-center" id="textCasa"><h4> Casa <br><br> </h4> </div>
                            </div>
                            <div class = "col-lg-4">
                                <input id="scuola" type="radio" name="tipo" value="SCUOLA" ng-model="event.tipo"/>
                                <label class="simboloEvento scuola img-thumbnail center-block" for="scuola"></label>
                                <div class="row text-center" id="textScuola"><h4> Scuola <br><br> </h4> </div>

                            </div>
                            <div class = "col-lg-4">
                                <input id="extra" type="radio" name="tipo" value="EXTRA" ng-model="event.tipo"/>
                                <label class="simboloEvento extra img-thumbnail center-block" for="extra"></label>
                                <div class="row text-center" id="textExtra"> <h4> Extra <br><br> </h4> </div>
                            </div>
                        </div>
                        <!-- FINE RADIO BUTTON -->

                        <!-- INFORMAZIONI EVENTO -->
                        <div class="form-group">
                            <!-- TITOLO EVENTO -->
                            <input type="text" class="form-control" id="titleEvent" name="title" placeholder="Titolo" ng-model="event.titolo" required/>

                            <!-- LUOGO EVENTO -->
                            <input type="text" class="form-control" id="placeEvent" name="place" placeholder="Luogo" ng-model="event.luogo" required/>


                            <!--data -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 id="dataModal">
                                                    Data:
                                                </h4>
                                            </div>
                                            <div class="col-md-10">
                                                <!-- SELEZIONE DATA -->
                                                <!-- Includere <style> nel CSS presente nell'<head> -->
                                                <md-content layout-padding >
                                                    <md-datepicker ng-model="myDate" md-placeholder="Inserisci una data"
                                                                   md-min-date="minimoDate" md-max-date="maxDate" ng-required md-date-locale>
                                                    </md-datepicker>
                                                </md-content>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ora -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <!-- SELEZIONE ORA INIZIO -->
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h4 id="orainizio"> Ora inizio: </h4>
                                                    </div>
                                                    <div class="col-md-9 timepicker" id="orainizioL">
                                                        <div uib-timepicker ng-model="oraInizio" hour-step="hstep" minute-step="mstep" show-meridian="false">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- SELEZIONE ORA FINE -->
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <h4 id="orafine"> Ora fine: </h4>

                                                    </div>
                                                    <div class="col-md-9 timepicker" id="orafineL">
                                                        <div uib-timepicker ng-model="oraFine" hour-step="hstep" minute-step="mstep" show-meridian="false" min="oraInizio">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- fine orario -->

                            <!-- DESCRIZIONE EVENTO -->
                            <textarea name="descrizioneEvent" class="form-control" placeholder="Descrivi qui il tuo evento" ng-model="event.descrizione" ng-minlength="5" required="">
                            </textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" ng-disabled="eventForm.$invalid" data-dismiss="modal" ng-click="creaEvento()">Aggiungi Evento</button>
                    <button type="button" class="btn" data-dismiss="modal">Annulla</button>
                </div>

            </div>
        </div>
    </div>


    <!-- MODAL: VISUALIZZA EVENTO -->
    <div class="modal fade" id="visualizzaEvento" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> {{eventoSelezionato.titolo}} </h4>
                </div>
                <div class="modal-body">

                    <p><b>| {{eventoSelezionato.titolo}} | {{eventoSelezionato.tipo}} |</b></p>
                    <p> <b> DESCRIZIONE: </b> {{eventoSelezionato.descrizione}}</p>
                    <p> <b> GIORNO: </b> {{eventoSelezionato.giorno}}</p>
                    <p> <b> ORA INIZIO: </b> {{eventoSelezionato.oraI}} | <b> ORA FINE:</b> {{eventoSelezionato.oraF}}</p>
                    <p> <b> LUOGO:</b> {{eventoSelezionato.luogo}}</p>
                    <p> <b> CREATO DA: </b> {{eventoSelezionato.IDcreatore}}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn" data-dismiss="modal" ng-click="">Partecipa</button>
                    <button type="button" class="btn" data-dismiss="modal">Annulla</button>
                </div>

            </div>
        </div>
    </div>


</body>