<head>

    <title>PUZZLE - {{}} {{}}</title>

    <link rel="stylesheet" href="HomepageView/homepageView.css">

</head>

<body>

<!-- BOX -->
<div class="container-fluid">
    <div class="row">
        <div class="box">

            <div class="row profilo">

                <!-- IMMAGINE DEL PROFILO -->
                <div class="col-md-4 header-left">


                    <img src="../Puzzle-code/images/avatars/AvatarGenitore_uomo.png" class="media-object img-thumbnail img-profilo"
                         alt="GENITORE MASCHIO" ng-if="visitatore.ruolo === 'GENITORE' &&  visitatore.sesso === 'M' && visitatore.urlFoto === 'no'">
                    <img src="../Puzzle-code/images/avatars/AvatarGenitore.png" class="media-object img-thumbnail img-profilo"
                         alt="GENITORE MASCHIO" ng-if="visitatore.ruolo === 'GENITORE' &&  visitatore.sesso === 'F' && visitatore.urlFoto === 'no'">
                    <img src="../Puzzle-code/images/avatars/AvatarInsegnante.png" class="media-object img-thumbnail img-profilo"
                         alt="INSEGNANTE" ng-if="visitatore.ruolo === 'INSEGNANTE' &&  visitatore.sesso === 'F' && visitatore.urlFoto === 'no'">
                    <img src="../Puzzle-code/images/avatars/AvatarInsegnante_uomo.png" class="media-object img-thumbnail img-profilo"
                         alt="INSEGNANTE" ng-if="visitatore.ruolo === 'INSEGNANTE' &&  visitatore.sesso === 'M' && visitatore.urlFoto === 'no'">

                    <img src="{{visitatore.urlFoto}}" class="media-object img-thumbnail img-profilo"
                         alt="INSEGNANTE" ng-if="visitatore.urlFoto != 'no'">

                </div>
                <!-- FINE IMMAGINE DEL PROFILO -->


                <!-- INFO PERSONALI -->

                <div class="col-md-8 header-right">
                    <!-- NOME E COGNOME UTENTE -->
                    <h1> {{visitatore.nome}} {{visitatore.cognome}} </h1>
                    <!-- FINE NOME E COGNOME    -->


                    <!-- INTESTAZIONE SONO UN INSEGNANTE DI --->
                    <h6 ng-if = "visitatore.ruolo === 'INSEGNANTE'"> Insegnante di {{visitatore.materia}}  </h6>
                    <!-- FINE INTESTAZIONE SONO UN INSEGNANTE DI--->

                    <!-- INTESTAZIONE SONO IL GENITORE DI --->
                    <h6 ng-if = "visitatore.ruolo === 'GENITORE'"> Genitore di {{visitatore.figlio1.nomeFiglio}}
                        {{visitatore.cognomeFiglio}} </h6>
                    <!-- FINE INTESTAZIONE SONO il genitore DI--->

                    <!-- INIZIO ELENCO INFORMAZIONI PERSONALI --->
                    <ul class="informazioniPersonali">
                        <!-- CITTA' --->
                        <li class="row informazioniPersonali-text">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> CITTA'</b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.citta}}
                            </div>
                        </li>
                        <!-- FINE CITTA' --->

                        <!-- SCUOLA INSEGNANTE -->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'INSEGNANTE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> SCUOLA </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.scuola}}
                            </div>
                        </li>
                        <!-- FINE SCUOLA -->

                        <!-- SCUOLA GENITORE -->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'GENITORE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> SCUOLA </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.figlio1.scuolaFiglio}}
                            </div>
                        </li>
                        <!-- FINE SCUOLA -->

                        <!-- CLASSE INSEGNANTE --->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'INSEGNANTE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> CLASSE </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.classe}}
                            </div>
                        </li>
                        <!-- FINE CLASSE --->

                        <!-- CLASSE GENITORE --->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'GENITORE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> CLASSE </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.figlio1.classeFiglio}}
                            </div>
                        </li>
                        <!-- FINE CLASSE --->

                        <!-- SEZIONE INSEGNANTE --->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'INSEGNANTE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> SEZIONE </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.sezione}}
                            </div>
                        </li>
                        <!-- FINE SEZIONE  --->

                        <!-- SEZIONE GENITORE --->
                        <li class="row informazioniPersonali-text" ng-if = "visitatore.ruolo === 'GENITORE'">
                            <div class="col-lg-4">
                                <i> <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-731-puzzle.png" height="22" width="22"/> </i>                                        &thinsp;
                                <b> SEZIONE </b>
                            </div>
                            <div class="col-lg-8">
                                {{visitatore.figlio1.sezioneFiglio}}
                            </div>
                        </li>
                        <!-- FINE SEZIONE  --->

                    </ul>
                </div>
                <!-- FINE INFORMAZIONI PERSONALI -->
            </div>
        </div>
    </div>
    <!--//banner-->
</div>


<!-- ---------------------------------------------------------------------------------------------------- -->

<!-- ------------------------------------------ -->
<!-- SEZIONE MATERIALE DIDATTICO | INSEGNANTE | -->
<!-- ------------------------------------------ -->

<div class="materialeD" ng-if = "visitatore.ruolo === 'INSEGNANTE'">
    <div>
        <p> MATERIALE DIDATTICO</p>

        <div class="post">

            <p ng-if="flag"> Non sono presenti file</p>

            <ul ng-repeat="elemento in elencoFile | filter: {'creatore' : visitatore.$id} : true">
                <li>

                    <!-- CONTROLLO IMMAGINE/FOTO -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-12-camera.png" ng-if="immagine(elemento.tipo) === 'img'"/>
                    <!-- CONTROLLO PDF -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-30-notes-2.png" ng-if="immagine(elemento.tipo) === 'pdf'"/>
                    <!-- CONTROLLO MUSICA -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-18-music.png" ng-if="immagine(elemento.tipo) === 'music'"/>
                    <!-- CONTROLLO VIDEO -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-9-film.png" ng-if="immagine(elemento.tipo) === 'video'"/>
                    <!-- CONTROLLO ZIP -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-326-wallet.png" ng-if="immagine(elemento.tipo) === 'zip'"/>
                    <!-- FILE GENERICO -->
                    <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-63-paperclip.png" ng-if="immagine(elemento.tipo) === 'other'"/>


                    {{elemento.titolo}}
                    <a href='{{elemento.url}}' target=”_blank”>
                        <button>DOWNLOAD</button>
                    </a>

                </li>
            </ul>
        </div>

    </div>
</div>

<!-- ---------------------------------------------------------------------------------------------------- -->


</body>