<head>

    <title>PUZZLE - Spazio Scuola</title>
    <link rel="stylesheet" href="HomepageView/homepageView.css">


    <style media="screen">
       #uploader {
           -webkit-appearance: none;
           appearance: none;
           width: 50%;
           margin-bottom: 10px;
       }
    </style>

</head>

<body>

<div class="container-fluid">
    <div class="box">

        <div class="spazioGenitori">

            <p id="titolo"> Spazio Genitori
                - classe <b>{{utenteRegistrato.figlio1.classeFiglio}}{{utenteRegistrato.figlio1.sezioneFiglio}}</b></p> <br>

                 <!-- TITOLO SE GENITORE
                <div class="post" ng-if="utenteRegistrato.ruolo === 'GENITORE'">
                    <p>Benvenuto nell'area comune della classe <b>{{utenteRegistrato.figlio1.classeFiglio}}{{utenteRegistrato.figlio1.sezioneFiglio}}</b>
                        della scuola <b>{{utenteRegistrato.figlio1.scuolaFiglio | uppercase}}</b> di <b>{{utenteRegistrato.citta | uppercase}}</b> !
                    </p>
                </div>
                ------------------------ -->
            <div class="row" ng-show="utenteRegistrato.ruolo === 'GENITORE'">
                    <!-- assegnata la classe post per dare lo stesso stile al pulsante -->
                    <button class="btn" data-toggle="modal" data-target="#aggiungiFile">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        &nbsp; Condividi un nuovo file
                    </button>
            </div>

            <p ng-if="flag">Non sono ancora presenti file</p>          <!-- <label class="upload-group"><b>SPAZIO GENITORI</b></label> -->

            <div class="elencoFile" ng-repeat="elemento in elencoFile">

                <div class="row" ng-repeat="utente in elencoUtenti | filter: {'ID' : elemento.creatore} : true" ng-if="utente.ruolo === 'GENITORE' && controllo(utente)">
                    <div class="line"> </div>

                    <div class="col-lg-8 media-list">

                        <div class="row">
                            <div class="media-left">
                                <!-- CONTROLLO IMMAGINE/FOTO -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-12-camera.png" ng-if="immagine(elemento.tipo) === 'img'"/>
                                <!-- CONTROLLO PDF -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-30-notes-2.png" ng-if="immagine(elemento.tipo) === 'pdf'"/>
                                <!-- CONTROLLO MUSICA -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-18-music.png" ng-if="immagine(elemento.tipo) === 'music'"/>
                                <!-- CONTROLLO VIDEO -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-9-film.png" ng-if="immagine(elemento.tipo) === 'video'"/>
                                <!-- CONTROLLO ZIP -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-326-wallet.png" ng-if="immagine(elemento.tipo) === 'zip'"/>
                                <!-- FILE GENERICO -->
                                <img src="HomepageView/glyphicons_free/glyphicons/png/glyphicons-63-paperclip.png" ng-if="immagine(elemento.tipo) === 'other'"/>
                            </div>
                            <div class="media-body">
                                &nbsp; {{elemento.titolo}}
                            </div>
                        </div>

                        <div class="row" id="dettagliUtente">
                            <p>file caricato da {{utente.nome}} {{utente.cognome}}</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <a href='{{elemento.url}}' target=”_blank”>
                            <button type="button">
                                <i class="glyphicon glyphicon-download"></i> Scarica
                            </button>
                        </a>
                        <button type="button" ng-click="deleteFile(elemento)" data-toggle="modal" data-target="#elimina" ng-show="elemento.creatore === uid">
                            <i class="glyphicon glyphicon-trash"></i> Elimina
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- MODAL: AGGIUNGI FILE -->
<div class="modal fade" id="aggiungiFile" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Caricamento nuovo file</h4>
            </div>

            <div class="modal-body">
                <div class="form-group" >
                    <form id="uploadFile" role="form" class="inputCaricamentoFile">

                        <!-- TITOLO -->
                        <input type="text" class="form-control" id="txtNome" placeholder="Inserisci Titolo" name="titolo"
                               ng-model="dati.titolo" required/>

                        <!-- ----------------------- -->
                        <div ng-show="!isUploading">
                            <input id="sceglifile" type="file" onchange="angular.element(this).scope().select(this)" required>
                        </div>
                        <!-- ------------------------- -->

                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn" id="submit" ng-click="upload()" data-dismiss="modal" >Carica</button>
                <button type="button" class="btn" data-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL: ELIMINA -->
<div class="modal fade" id="elimina" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" >
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Elimina file</h4>
            </div>
            <div class="modal-body">
                <p><em>Sei sicuro di voler rimuovere definitivamente "<b>{{fileDaEliminare.titolo}}</b>"?</em></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-click="confirmDeleteFile(fileDaEliminare)">Elimina</button>
                <button type="button" class="btn" data-dismiss="modal">Annulla</button>
            </div>
        </div>

    </div>
</div>

<sidebar user="utenteRegistrato.ruolo"></sidebar>


</body>