<div class="header" ng-class="{headerEXTRA: t === 'EXTRA', headerCASA: t === 'CASA', headerSCUOLA: t === 'SCUOLA'}">
    <i class="fa fa-angle-left" ng-click="previous()" ng-show="isPast()"></i>
    <i class="fa" ng-show="!isPast()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names" ng-class="{weekEXTRA: t === 'EXTRA', weekCASA: t === 'CASA', weekSCUOLA: t === 'SCUOLA'}">
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Dom</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Lun</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Mar</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Mer</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Gio</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Ven</span>
    <span class="day" ng-class="{dayEXTRA: t === 'EXTRA', dayCASA: t === 'CASA', daySCUOLA: t === 'SCUOLA'}">Sab</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{'different-month': !day.isCurrentMonth || day.isYesterday, selectedCASA: day.date.isSame(selected) && t === 'CASA',
                                 selectedEXTRA: day.date.isSame(selected) && t === 'EXTRA',
                                 selectedSCUOLA: day.date.isSame(selected) && t === 'SCUOLA',
                                 eventoPresenteCASA: controlloEventoCASA(day) && !day.isYesterday && t === 'CASA',
                                 eventoPresenteSCUOLA: controlloEventoSCUOLA(day) && !day.isYesterday && t === 'SCUOLA',
                                 eventoPresenteEXTRA: controlloEventoEXTRA(day) && !day.isYesterday && t === 'EXTRA'}"
          ng-click="select(day)" ng-repeat="day in week.days" disabled>{{day.number}}</span>
</div>
